* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: #dadce0;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 20px;
}

a {
  color: #8ab4f8;
  text-decoration: none;
}

.red {
  color: #f28a7d;
}

.green {
  color: #80c894;
}

.blue {
  color: #8ab4f8;
}

.material-button {
  background-color: #202124;
  width: 48px;
  height: 48px;
  padding: 8px;
  margin: 16px;
  border-radius: 50%;
}

.material-button i {
  font-size: 32px;
}

.centered {
  border-radius: 24px;
  background-color: #3c4043;
  padding: 20px;
  margin: 16px;
}

.centered p {
  text-align: justify;
  margin: 0px !important;
}

.transparent {
  opacity: 0.5;
}

#code {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background-color: #202124;
}

#code svg {
  -webkit-animation: codemove 20s linear;
          animation: codemove 20s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

#svg {
  width: 100%;
  height: 100%;
}

#title {
  height: 200px;
}

#title1 {
  text-align: center;
  padding-top: 84px;
  font-family: monospace;
  font-size: 48px;
  color: #dadce0;
}

#title2 {
  text-align: center;
  padding-top: 8px;
  font-family: monospace;
  opacity: 1;
  font-size: 24px;
  color: #8ab4f8;
}

#profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#profil h2 {
  font-size: 32px;
  margin: 26px 16px 4px;
}

#profil p {
  color: #8ab4f8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin: 0px 16px;
}

#profil img {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 24px;
  -webkit-box-shadow: 0px 0px 12px -4px black;
          box-shadow: 0px 0px 12px -4px black;
}

#profil a {
  position: absolute;
  right: 0px;
}

#job {
  font-family: monospace;
}

#main {
  border-radius: 32px 32px 0px 0px;
}

.page {
  background-color: #35363a;
  position: absolute;
  top: 270px;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
  min-height: 100px;
  -webkit-box-shadow: 0px -5px 20px -10px black;
          box-shadow: 0px -5px 20px -10px black;
  border-radius: 0px 32px 32px 0px;
}

.page p {
  margin: 0px 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.page video {
  border-radius: 16px;
  width: 96%;
  margin: 0% 2%;
}

.slidein {
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.play-zone {
  margin: 16px 0px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.play-zone img {
  -webkit-box-shadow: 0px 0px 12px -4px black;
          box-shadow: 0px 0px 12px -4px black;
  border-radius: 24%;
}

.app-icon {
  width: 40%;
}

.qrcode {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  width: 40%;
  padding: 3%;
  border-radius: 16% !important;
  background-color: #dadce0;
  opacity: 0.7;
}

section {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section .project-row {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2% 0px;
}

section .project {
  background-color: #202124;
  border-radius: 16px;
  width: 45%;
}

section .project img {
  border-radius: 16px 16px 0px 0px;
  width: 100%;
}

section .project p {
  padding: 6px 0px 10px 0px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.line {
  background-color: #dadce0;
  margin: 24px 5%;
  width: 90%;
  height: 1px;
  opacity: 0.5;
}

.btn_list {
  padding: 16px 16px;
}

.btn_list button {
  border-radius: 24px;
  height: 38px;
  border: 0px;
  background-color: #202124;
  font-weight: bold;
  font-size: 16px;
  color: #dadce0;
  margin: 5px;
  padding: 0px 12px;
}

#contact {
  margin-bottom: 0px !important;
}

.btn_list_img {
  width: 100%;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn_list_img img {
  -webkit-box-shadow: black 5px 5px 10px -6px;
          box-shadow: black 5px 5px 10px -6px;
  width: inherit;
  border-radius: 50%;
  cursor: pointer;
}

.btn_list_img a {
  width: 48px;
  height: 48px;
  border: 0px solid transparent;
  border-radius: 50%;
  margin: 5px;
  background-color: transparent;
}

@media screen and (max-width: 600px) {
  #title1 {
    padding-top: 64px;
    margin: 0px 38px 0px 38px;
  }
  #title2 {
    padding-top: 8px;
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@-webkit-keyframes codemove {
  from {
    -webkit-transform: translate(0px, 0%);
            transform: translate(0px, 0%);
  }
  to {
    -webkit-transform: translate(0px, -60%);
            transform: translate(0px, -60%);
  }
}

@keyframes codemove {
  from {
    -webkit-transform: translate(0px, 0%);
            transform: translate(0px, 0%);
  }
  to {
    -webkit-transform: translate(0px, -60%);
            transform: translate(0px, -60%);
  }
}

.hide {
  opacity: 0;
}

.no-display {
  display: none;
}
/*# sourceMappingURL=style.css.map */