$light: #dadce0;
$grey1: #3c4043;
$grey2: #35363a;
$grey3: #202124;
$red: #f28a7d;
$green: #80c894;
$blue: #8ab4f8;

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	color: $light;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px 20px;
}

a {
	color: $blue;
	text-decoration: none;
}

.red {
	color: $red;
}

.green {
	color: $green;
}

.blue {
	color: $blue;
}

.material-button {
	background-color: $grey3;
	width: 48px;
	height: 48px;
	padding: 8px;
	margin: 16px;
	border-radius: 50%;

	i {
		font-size: 32px;
	}
}

.centered {
	border-radius: 24px;
	background-color: $grey1;
	padding: 20px;
	margin: 16px;

	p {
		text-align: justify;
		margin: 0px !important;
	}
}

.transparent {
	opacity: 0.5;
}

#code {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
	background-color: $grey3;

	svg {
		animation: codemove 20s linear;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
}

#svg {
	width: 100%;
	height: 100%;
}

#title {
	height: 200px;
}

#title1 {
	text-align: center;
	padding-top: 84px;
	font-family: monospace;
	font-size: 48px;
	color: $light;
}

#title2 {
	text-align: center;
	padding-top: 8px;
	font-family: monospace;
	opacity: 1;
	font-size: 24px;
	color: $blue;
}

#profil {
	display: flex;

	h2 {
		font-size: 32px;
		margin: 26px 16px 4px;
	}

	p {
		color: $blue;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 24px;
		margin: 0px 16px;
	}

	img {
		width: 100px;
		height: 100px;
		margin: 10px;
		border-radius: 24px;

		box-shadow: 0px 0px 12px -4px black;
	}

	a {
		position: absolute;
		right: 0px;
	}
}



#job {
	font-family: monospace;
}

#main {
	border-radius: 32px 32px 0px 0px;
}

.page {
	background-color: $grey2;
	position: absolute;
	top: 270px;
	transform: translate(-100%);
	transition: all 0.5s;

	width: 100%;
	min-height: 100px;
	box-shadow: 0px -5px 20px -10px black;
	border-radius: 0px 32px 32px 0px;

	p {
		margin: 0px 20px;
		font-family: Arial, Helvetica, sans-serif;
	}

	video {
		border-radius: 16px;
		width: 96%;
		margin: 0% 2%;
	}
}

.slidein {
	transform: translate(0%);
}

.play-zone {
	margin: 16px 0px 20px 0px;
	display: flex;
	justify-content: space-around;

	img {
		box-shadow: 0px 0px 12px -4px black;
		border-radius: 24%;
	}
}

.app-icon {
	width: 40%;
}

.qrcode {
	image-rendering: pixelated;
	width: 40%;
	padding: 3%;
	border-radius: 16% !important;
	background-color: $light;
	opacity: 0.7;
}

section {
	justify-content: space-evenly;
	display: flex;
	flex-direction: row;

	.project-row {
		justify-content: space-evenly;
		flex-direction: row;
		display: flex;
		margin: 2% 0px;
	}

	.project {
		background-color: $grey3;
		border-radius: 16px;
		width: 45%;
		img {
			border-radius: 16px 16px 0px 0px;
			width: 100%;
		}

		p {
			padding: 6px 0px 10px 0px;
			font-weight: bold;
			font-size: 16px;
			text-align: center;
		}
	}
}

.line {
	background-color: $light;
	margin: 24px 5%;
	width: 90%;
	height: 1px;
	opacity: 0.5;
}

.btn_list {
	padding: 16px 16px;

	button {
		border-radius: 24px;
		height: 38px;
		border: 0px;
		background-color: $grey3;
		font-weight: bold;
		font-size: 16px;
		color: $light;
		margin: 5px;
		padding: 0px 12px;
	}
}

#contact {
	margin-bottom: 0px !important;
}

.btn_list_img {
	width: 100%;
	height: 72px;
	display: flex;
	justify-content: center;

	img {
		box-shadow: black 5px 5px 10px -6px;
		width: inherit;
		border-radius: 50%;
		cursor: pointer;
	}

	a {
		width: 48px;
		height: 48px;
		border: 0px solid transparent;
		border-radius: 50%;
		margin: 5px;
		background-color: transparent;
	}
}

@media screen and (max-width: 600px) {
	#title1 {
		padding-top: 64px;
		margin: 0px 38px 0px 38px;
	}

	#title2 {
		padding-top: 8px;
		font-size: 20px;
	}
}

@media screen and (max-width: 800px) {
	section {
		flex-direction: column;
	}
}

@keyframes codemove {
	from {
		transform: translate(0px, 0%);
	}
	to {
		transform: translate(0px, -60%);
	}
}

.hide {
	opacity: 0;
}

.no-display {
	display: none;
}
